html, body {
    margin: 0;
    height: 100%;
}


.draggable {
    color: #FF0000;
    background-color: #4e4;
    height: 400px;
    width: 300px;
    padding: 8px;
}

.tileImage {
    width: 100px;
    height: 100px;
}