html, body {
    margin: 0;
    height: 100%;
    font-family: "Lato", sans-serif;
}


.draggable {
    position: relative
    color: #FF0000;
    background-color: #FF0000;
    height: 400px;
    width: 300px;
	padding: 8px;
	position:absolute;
	top: 400px;
    left: 400px;
    border: 1px solid blue;
}

.tileImage {
    width: 100px;
    height: 100px;
	
}
.generalTileImage
{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 76%;
    opacity: 0.5;
    margin-top: 2%;
    left: 0;
}

.arrowTileImage
{
    position: absolute;
    width: 100%;
    height: 87%;
    top: 0;
    left: 0;
    border: 1px solid black;
}
.playButton
{
    position: absolute;
    top: 0;
    right: 0;
}
.closeButton
{
    position: absolute;
    left: 0;
    bottom: 0;
}
.textInput {
    position: absolute;
    width: 100%;
    height: 76%;
    background-color: transparent;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 4%;
    padding-bottom: 3%;
    margin-top: 8%;
    left: 0;
    border: 1px solid black;
}


/* ulian add*/

.sidenav {
    height: 100%;
    width: 0;
    min-width: 10px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    background-color: #055;
    overflow-y: scroll;
    transition: 0.7s;
    padding-top: 160px; 
	
}


.sidenav2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 120px;
    background-color: #055;
    overflow-y: scroll;
    transition: 0.7s;
    padding-top: 160px;
    
}

.returnButton{
	height:'50px'; 
    width: '50px';
	right: '50px';
	padding-right: '50px';
	top"50px"
	position: relative;
	
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 180px;}
}


/* modal feautures */


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	transition: 0.5s;
}

#selectorBar
{
    text-align: right;
    padding: 8px;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.7s;
    animation-name: animatetop;
    animation-duration: 0.7s
}

/* Add Animation Modal*/
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button Modal*/
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
<<<<<<< HEAD
.show {display:block;}


