html, body {
    margin: 0;
    height: 100%;
    font-family: "Lato", sans-serif;
}


.draggable {
    color: #FF0000;
    background-color: #FF0000;
    height: 400px;
    width: 300px;
	padding: 8px;
	position:absolute;
	top: 400px;
<<<<<<< HEAD
    left: 400px;

	
	
=======
    right: 400px;
>>>>>>> 7e280b72cd37fca6834929dbd9250189dd178c29
}

.tileImage {
    width: 100px;
    height: 100px;
	
}

.textInput {
    width: 100%;
}

/* ulian add*/

.sidenav {
    height: 100%;
    width: 0;
    min-width: 10px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    background-color: #055;
    overflow-y: scroll;
    transition: 0.7s;
    padding-top: 160px; 
	
}


.sidenav2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 120px;
    background-color: #055;
    overflow-y: scroll;
    transition: 0.7s;
    padding-top: 160px;
    
}

.returnButton{
	height:'50px'; 
    width: '50px';
	right: '50px';
	padding-right: '50px';
	top"50px"
	position: relative;
	
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 180px;}
}









